{% extends 'main_app/base.html' %}

{% block content %}
    {{ block.super }}

    <form action="{% url 'auth:clients_edit' pk=pk %}"
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" name="save" value="save">
            Сохранить
        </button>

    </form>

    <form action="{% url 'auth:clients_delete' pk=pk %}"
          method="post">
        {% csrf_token %}
        <br>
        <button type="submit" name="delete" value="delete">
            Удалить
        </button>
    </form>

{% endblock %}
