{% extends 'main_app/base.html' %}

{% block content %}
    {{ block.super }}

    <a class="btn" href="{% url 'main:applications_add' %}">
        Добавить +
    </a>
    <br>
    <form action="." method="get">
        {% csrf_token %}
        Тип: {{ form.title }}
        Статус: {{ form.status }}
        Дата: от <input type="date" name="date_gte" value="{{ date_gte }}">
        до <input type="date" name="date_lte" value="{{ date_lte }}">
        <button>Фильтровать</button>
    </form>

    <br>
    <div class="col-10">
        {% for application in object_list %}
            <div class="col-10">
                <ul>
                    <li>
                        <a href="{% url 'main:applications_edit' application.id %}">
                            Описание: {{ application.content }}
                            от {{ application.client.first_name }} {{ application.client.last_name }}
                            email: {{ application.client.email }}
                            Тип: {{ application }}
                            Статус: {{ application.status }}
                            Дата создания: {{ application.created }}
                        </a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>

{% endblock %}